.mod4_box{
	width: 100%;
	height: auto;
	overflow: hidden;
}
/*******************入住条件************/
.now{
	width: 100%;
	height: 536px;
	margin: 90px 0;
}
.now_head{
	height: 184px;
	text-align: center;
	font-family: arial;
	overflow: hidden;
}
.now_head h1{
	font-size: 1.8em;
}
.now_head h4{
	font-size: 1.5em;
	margin-top: 45px;
}
.now_row{
	width: 1200px;
	height: 352px;
	margin: 0 auto;
	overflow: hidden;
}
.now_row1{
	width: 254px;
	height: 350px;
	border: 1px solid #CCCCCC;
	float: left;
	position: relative;
	margin-right: 44px;
}
.now_row1:first-child{
	margin-left: 22px;
}
.now_row1:last-child{
	margin-right: 0px;
}

.now_row1 .row1Img1{
	position: absolute;
	left: 10px;
	top: 10px;
}
.row1Img2{
	margin: 50px auto;
	display: block;
}
.now_row1_F{
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #616161;
	font-family: "微软雅黑";
}
/*****************************工厂入驻1*******************/
.goRuzhu{
	height: 576px;
	background: #F7F7F7;
}
.goRuzhu h1{
	height: 90px;
	line-height: 130px;
	text-align: center;
	font-size: 1.8em;
}
.goRuzhu_con{
	height: 446px;
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}
.goRuzhu_row{
	float: left;
	width: 347px;
	height: 166px;
	background: white;
	margin-right: 53px;
	margin-top: 50px;
}
.goRuzhu_row:first-child,.goRuzhu_row:nth-child(4){
	margin-left: 25px;
}
.goRuzhu_row:last-child,.goRuzhu_row:nth-child(3){
	margin-right: 0;
}

.goRuzhu_row img{
	float: left;
	margin-left: 40px;
	margin-top: 50px;
}
.goRuzhu_F{
	float: left;
	margin-left: 25px;
	text-align: left;
	margin-top: 50px;
}
.goRuzhu_F h4{
	font-size: 1.3em;
	color: #616161;
	margin-bottom: 8px;
}
.goRuzhu_F p{
	font-size: 12px;
	color: #999999;
	line-height: 20px;
	
}
/*********************工厂入驻2****************/
.mod4 .gongchang{
	background: white;
}
.mod4 .gongchang h1{
	margin-bottom: 80px;
}

/**************************常见问题*************/
.problum{
	width: 100%;
	height: 632px;
	background: #F7F7F7;
	overflow: hidden;
}
.problum h1{
	text-align: center;
	font-size: 1.8em;
	margin: 50px auto;
}
.problum_con{
	height: 422px;
	width: 1200px;
	margin: 0 auto;
	color: #808080;
	
}
.one{
	height: 260px;
	border-bottom: 2px dashed #616161;
	padding-bottom: 15px;
	
}
.one h4{
	font-size: 1.3em;
	color: #808080;
}
.problum_row{
	width: 205px;
	height: auto;
	float: left;
	margin-right: 43px;
}
.problum_row:last-child{
	margin-right: 0;
}
.one_con{
	margin-top: 15px;

}
.problum_row img{
	display: block;
	float: left;
	margin-top: 8px;
	height: 100%;
	margin-left: -10px;
}
.problum_row p{
	line-height: 30px;
	font-size: 14px;
	color: #808080;
	display: block;
	font-family: "微软雅黑";	
	float: left;
	margin-left: 30px;
	margin-top: -28px;
	text-align: justify;
}
.two{
	height: 215px;
	overflow: hidden;
}
.two .problum_row1{
	width: 260px;
	height: 147px;
	border-right: 1px dashed #808080;
	float: left;
	margin-top: 30px;
	padding: 0 17px;
	overflow: hidden;
}
.two .problum_row1:first-child{
	margin-left: 0;
	padding-right: 10px;
}
.two .problum_row1:last-child{
	padding-left: 10;
	border: none;
}
.two .problum_row1 h4{
	margin-bottom: 15px;
	font-size: 0.9em;
}
.two .problum_row1 p{
	font-size: 12px;
	width: auto;
	margin-top: 20px;
	line-height: 30px;
	font-family: "微软雅黑";
}

